html {
  height: 100%;
  min-width: 400px;
  margin-top: 20px;
  padding: 0;

  //background-color: rgba(238, 223, 203, 0.41);

}

a{
  text-decoration: none;
}

header{
  border: 3px solid black;
  border-radius: 6px;
  width: 100%;
  background: rgba(34, 34, 34, 0.2);
  display: flex;
  background: url(../image/backg.jpg);
}

.navbar-logo {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12%;
}

nav{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 29%;
}

.menu-main a {
  text-decoration: none;
  text-align: center;
  padding: 12px 16px;
  font-size: 18px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
}

.menu-main a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.menu-main .icon{
  display: none
}

footer {
  font-size: 1.2em;
  margin: 30px; }



@media (max-width: 830px) {
  .menu-main a{
    display: none;
  }

  .menu-main  a.icon{
    float: right;
    margin-top: auto;
    display: block;
    font-size: 45px;
  }

  nav{
    width:100%;
  }

  .menu-main.responsive{
    position: relative;
    top:50px;
    left:-200px;
  }
  header .menu-main.responsive{
    height: 240px;
  }
  .menu-main.responsive a.icon{
    position: absolute;
    top: -50px;
    right:-200px;
  }
  .menu-main.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

.request{
  display: flex;
  flex-direction: column;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.grid{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  grid-gap: 20px;
  .direct{
    padding:  5px;
    border: 3px solid black;
    border-radius: 6px;
    background: url(../image/guandun.jpg);
    height: 250px;
    display: grid;
    grid-auto-rows: 30px 1fr 35px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

  }
  .more{
    width: 100px;
    height: 30px;
    background-color: rgba(145, 0, 0, 0.78);
    border: 1px solid rgba(145, 0, 0, 0.78);
    border-radius: 4px;
    color: white;
    margin-left: auto;
    margin-right: auto;

  }
  .dirName{
    margin-left: auto;
    margin-right: auto;
  }
  .dirItem{
    margin-left: auto;
    margin-right: auto;
  }
}

article{
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}
footer{
  display: block;
  left: 50%;
  margin-top: 30px;
  height: 60px;
  width: 100%;
  .social{
    position: center;
  }
}
